<title>Selecionar datas</title>
<link href="https://fonts.googleapis.com/css?family=Niramit&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">

<link rel="stylesheet" href="selecionar-datas.component.css">


<div class="caixa">
  <span class="usuario">Selecione data e horário</span>
  <br>
  <!--<iframe
    src="https://calendar.google.com/calendar/embed?height=450&wkst=1&bgcolor=%23fdb018&ctz=America%2FSao_Paulo&showTitle=0&showTz=0&showCalendars=0&showPrint=0&title=Agendamento%20-%20Retirada%20de%20produtos&showDate=1&showTabs=0&showNav=1"
    style="border-width:0" width="700" height="450" frameborder="0" scrolling="no"></iframe>-->
</div>

<div class="container">

  <div class="calendar">

    <header>

      <h2>Agosto</h2>

      <a class="btn-prev fontawesome-angle-left" href="#"></a>
      <a class="btn-next fontawesome-angle-right" href="#"></a>

    </header>

    <table>

      <thead>

        <tr>

          <td>Seg.</td>
          <td>Ter.</td>
          <td>Qua.</td>
          <td>Qui.</td>
          <td>Sex.</td>
          <td>Sáb.</td>
          <td>Dom.</td>

        </tr>

      </thead>

      <tbody>

        <tr>
          <!--<td class="prev-month">29</td>
          <td class="prev-month">30</td>-->
          <td class="prev-month">31</td>

          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td class="event">12</td>
          <td>13</td>
        </tr>
        <tr>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td class="current-day event">17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
        </tr>
        <tr>
          <td>21</td>
          <td class="event">22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
        </tr>

        <tr>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td class="next-month">1</td>
          <td class="next-month">2</td>
          <td class="next-month">3</td>
          <td class="next-month">4</td>
        </tr>

      </tbody>


    </table>



  </div> <!-- end calendar -->


</div> <!-- end container -->

<section class="horarios">
  <ul>
    <li><button type="button" class="hr">09:00</button></li>
    <li><button type="button" class="hr"><b>10:00</b></button></li>
    <li><button type="button" class="hr"><b>11:00</b></button></li>
    <li><button type="button" class="hr">12:00</button></li>
    <li><button type="button" class="hr">13:00</button></li>
  </ul>
</section>
<section class="horarios2">
  <ul>
    <li><button type="button" class="hr">14:00</button></li>
    <li><button type="button" class="hr"><b>15:00</b></button></li>
    <li><button type="button" class="hr">16:00</button></li>
    <li><button type="button" class="hr"><b>17:00</b></button></li>
    <li><button type="button" class="hr"><b>18:00</b></button></li>
  </ul>
</section>

<div class="nav-links">
  <a href="#"><button type="submit" class="entrar">CONFIRMAR</button></a>
</div>


<div class="sair">
  <div class="botão-sair">
    <button type="button" class="sair"><a href="../confirmar-produtos/confirmar-produtos.component.html"><img src="../../../assets/imagens/bi_x-circle.svg"
          width="30px" height="30px" /></a> </button>
  </div>

</div>
