<link href="https://fonts.googleapis.com/css?family=Niramit&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">


<link rel="stylesheet" href="beneficiario-home.component.css">



<section class="espacamento-chamada">
  <article>
    <p class="chamada">
      <b>Olá, bem-vindo!</b>
    </p><br>
    <p class="texto">Aqui você poderá editar
      o seu perfil, visualizar os produtos que estão disponíveis, e agendar a data e horário de retirada das
      doações.</p>
  </article>
  <div class="gif"></div>
</section>

<div class=categoria-produtos>
  <p class="produtos-disponiveis"><b>PRODUTOS DISPONÍVEIS</b></p>
  <br>
  <a href=""><p class="visualizar">Visualizar todos os produtos</p></a>
</div>

<div class="slide-produtos">
  <div class="produtos">
    <h3><img src="../../assets/imagens/arroz.png" alt=""></h3>
  </div>
  <div class="produtos">
    <h3><img src="../../assets/imagens/acucar.png" alt=""></h3>
  </div>
  <div class="produtos">
    <h3><img src="../../assets/imagens/cafe.png" alt=""></h3>
  </div>
  <div class="produtos">
    <h3><img src="../../assets/imagens/farinha.png" alt=""></h3>
  </div>
  <div class="produtos">
    <h3><img src="../../assets/imagens/macarrao.png" alt=""></h3>
  </div>
  <div class="produtos">
    <h3><img src="../../assets/imagens/molhotomate.png" alt=""></h3>
  </div>
  <div class="produtos">
    <h3><img src="../../assets/imagens/sal.png" alt=""></h3>
  </div>

  <div class="botao">
    <a href="#"><button type="submit" class="botao-selecionar-produtos">SELECIONAR PRODUTOS PARA RETIRADA</button></a>
  </div>

</div>
