<footer class="footer">
    <a href="" class="logo">
      <img src="../../assets/imagens/logo_projetocolmeia.png" alt="logo">
    </a>
    <nav class="footer-links">
      <ul>
        <li>
          <p class="direitos">Copyright ©
            <br>
            2022 Vênus
            <br>
            Todos os direitos reservados.
          </p>
        </li>
        <li><a href="../sobre/sobre.component.html">
            <p class="sobre">SOBRE</p><br></a>
            <a href="../termos/termos.component.html">
              <p class="termos">TERMOS E CONDIÇÕES</p>
            </a></li>
        <li><a href="../contato/contato.component.html">
            <p class="contato ">CONTATO</p>
          </a></li>
      </ul>
    </nav>
  </footer>
