<link rel="stylesheet" href="header-usuarios.component.css">

<header class="header">
    <a href="../home/home.component.html" class="logo">
        <img src="../../assets/imagens/logo_projetocolmeia.png" alt="logo">
    </a>
    <nav class="nav-links">
        <ul>

            <li><a href="../home/home.component.html">
                    <p class="name-tag ">PÁGINA PRINCIPAL</p>
                </a></li>
            <li><a href="">
                    <p class="name-tag ">EDITAR PERFIL</p>
                </a></li>
            <li><a href="../selecionar-datas/selecionar-datas.component.html">
                    <p class="name-tag ">AGENDA</p>
                </a></li>
            <li><a href="#"><svg alt="line"></svg></a></li>
            <li><a href="../home/home.component.html"><img src="../../assets/imagens/botao-sair.png" class="botao-sair"></a>
            </li>

        </ul>
    </nav>
</header>