
<header class="header">
    <a href="../home/home.component.html" class="logo">
      <img src="../../../assets/imagens/logo_projetocolmeia.png" alt="logo">
    </a>
    <nav class="nav-links">
      <ul>


        <li><a routerLink="home">
            <p class="name-tag "> Home </p>

          </a></li>
        <li><a routerLink="produtos-beneficiarios">
            <p class="name-tag "> Produtos</p>
          </a></li>
        <li><a routerLink="login-beneficiario">
            <p class="name-tag "> Login </p>
          </a></li>
          <li><a routerLink="sobre">
            <p class="name-tag "> Sobre </p>
          </a></li>
          <li class="usuario">Olá, Bárbara</li>
       <!-- <li><a href="#"><svg alt="line"></svg></a></li>
        <li><a href="../cadastre/cadastre.component.html"><button type="" class="cadastre">CADASTRE-SE</button></a> </li>-->

      </ul>
    </nav>
  </header> 
