*{
    margin: 0;
    padding: 0; 
    
}
a {
    text-decoration: none;
    margin-top: 0px;
    margin-left: 20px;
    
}
.logo img {
    height: 100px;
    width: 100px;
    margin-right: 25px;
    margin-top: 2px;
}
.name-tag {
    margin-left: 300px;
    text-align: center;
    margin-top: -100px;
    font-family:Hind Siliguri;
    font-size:15px;    
}
.usuario{
    font-size: medium;
    color: lightgray;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Header */
.header {
    display:flexbox;
    padding-left: 0px;
    align-items: center;   
    position:relative;
    margin-top: 20px; 
    background-color: rgba(245, 245, 245, 0.671);
    height: 110px;   
    box-shadow: 2px 2px 0px antiquewhite;

}
.nav-links li {
    list-style: none;
}
.nav-links ul {
    display:flex;    
}
.nav-links ul li {
    margin-right: 0px;
}
.nav-links ul li a {
     
    display: flex;
    color: #4e3123;
    align-items: center;
    text-transform: uppercase;
    font-family:Hind Siliguri;
    font-size:20px;
    letter-spacing: 0.15em;
}
.nav-links p:after {
    bottom: -5px;    
    content: "";
    display: inline-block;
    border-radius: 10px;
    height: 2px;
    left: 0;
    position: relative;
    background: #fdb018;
    transition: 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
    opacity: 0;
}
.nav-links a:hover p:after {
    opacity: 1;
    width: 100%;
    left: 0;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Botão cadastre-se*/
.cadastre {
    position:static;
    display:block;
    right: 100px;
    margin: 0;
    height: 0%;
    align-items: center;
    margin-top: -100px;
    width: 150px;
    margin-left: -80px;
    font-family:Hind Siliguri;
    font-size:15px;    
} 
.cadastre:hover {
    display:block;
}
.nav-links li button{
    box-shadow:8px 8px 30px rgba(255,250,250);
	background-color:rgba(232, 216, 183, 0.79);
    border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
    border:1px solid rgba(253.0000001192093, 176.00000470876694, 24.000000469386578, 1)
}

  /* Profile */
  .login {    
    display:block;
    right: 0;   
    height: 0%;   
    margin-top: 210px;
    color:  #4e3123;
    font-family: Hind Siliguri;
    font-size:15px;    
    align-items: center;    
    margin-left: 100px;
    letter-spacing: 0.15em;
    
  }
  .sair {
    list-style: none;
    margin-left: 140px;
    margin-top: -20px;
  }
 
 
  .login {
    position: relative;
    display: inline-block;
    text-decoration: none;
   left: 1350px;
   top: -420px;
   color:  #4e3123;
    font-family: Hind Siliguri;
    font-size:15px;  
  }
  
  .usuario-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 12px;
    z-index: 1;
    color:  #4e3123;   
    text-decoration: none;  
  }
  
  .login:hover .usuario-dropdown {
    display: block;
    text-decoration: none;
    color:  #4e3123;  
  }