<header class="header">
  <a  routerLink="home" class="logo">
    <img src="../../../assets/imagens/logo_projetocolmeia.png" alt="logo">


  </a>
  <nav class="nav-links">
    <ul>
      <li><a routerLink="home">
          <p class="name-tag "> Home </p>
        </a></li>
      <li><a routerLink="produtos-beneficiarios">
          <p class="name-tag "> Produtos</p>
        </a></li>
      <li><a routerLink="sobre">
          <p class="name-tag "> Sobre </p>
        </a></li>
      <li><a href="#"><svg alt="line"></svg></a></li>
    </ul>
  </nav>
  <!--Login-->
  <div *ngModel class="login">
    <span >Olá, {{usuario.nome}}</span>    
      <div class="usuario-dropdown">
        <a href="#"><p>Encerrar sessão</p><img class="sair" src="../../assets/imagens/botao-sair.png" width="15px" height="15px" alt="sair"></a>
      </div>
    </div>

    <!---->


</header>


