*{
    margin: 0;
    padding: 0; 
    
}
a {
    text-decoration: none;
    margin-top: -12px;
    margin-left: 17px;
    
}
.logo img {
    height: 100px;
    width: 100px;
    margin-right: 25px;
    margin-top: 2px;
}
.name-tag {
    margin-left: 220px;
    text-align: center;
    margin-top: -100px;
    font-family:Hind Siliguri;
    font-size:15px;    
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Header */
.header {
    display:flexbox;
    padding-left: 0px;
    align-items: center;   
    position:relative;
    margin-top: 20px; 
    background-color: rgba(245, 245, 245, 0.671);
    height: 110px;   
    box-shadow: 2px 2px 0px antiquewhite;

}
.nav-links li {
    list-style: none;
}
.nav-links ul {
    display:flex;    
}
/*.nav-links ul li {
    margin-right: 0px;
}*/
.nav-links ul li a {
     
    display: flex;
    color: #4e3123;
    align-items: center;
    text-transform: uppercase;
    font-family:Hind Siliguri;
    font-size:20px;
    letter-spacing: 0.15em;
}
.nav-links p:after {
    bottom: -5px;    
    content: "";
    display: block;
    border-radius: 10px;
    height: 2px;
    left: 0;
    position: relative;
    background: #fdb018;
    transition: 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
    opacity: 0;
}
.nav-links a:hover p:after {
    opacity: 1;
    width: 100%;
    left: 0;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Botão cadastre-se*/
.cadastre {
    position:static;
    display:block;
    right: 100px;
    margin: 0;
    height: 0%;
    align-items: center;
    margin-top: -100px;
    width: 150px;
    margin-left: -80px;
    font-family:Hind Siliguri;
    font-size:15px;    
} 
.cadastre:hover {
    display:block;
}
.nav-links li button{
    box-shadow:8px 8px 30px rgba(255,250,250);
	background-color:rgba(232, 216, 183, 0.79);
    border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
    border:1px solid rgba(253.0000001192093, 176.00000470876694, 24.000000469386578, 1)
}