<!-- NOVO TESTE -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="tela">
    <div class="container texto">
      <div class="row d-flex align-items-start justify-content-center">
          <div class="col-md-5 texto">
              <a routerLink='/home' class="texto rota-link">
                  <i class="bi bi-chevron-double-left"></i> Home/
              </a>
              <a>Categorias </a>
              
              <div class="row">
                <!-- input id ciclo 
                <div class="col-md-6 ">
                    <label class="text-nowrap" for="inputIdCiclo">Id Ciclo</label>
                    <input type="number" formControlName="idCiclo" class="form-control" id="inputIdCiclo"
                        [(ngModel)]="cate.id">-->
              <h1 class="fs-54 texto texto-responsivo">Categorias Cadastrada</h1>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">  </th>
                  <!--   <th scope="col"> Produto</th>-->
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let categoria of cate">
                    <td>{{categoria.nome}}</td>
                   <!-- <td>{{categoria.produtos}}</td>-->
                  </tr>
                </tbody>
            
              </table>
             

              <!--<h5 class="fs-18 texto texto-responsivo">Veja aqui todos os temas cadastrados ou cadastre um novo:</h5> -->
              
              <h3 class="fs-54 texto texto-responsivo">Cadastre uma nova categoria</h3>
              <div class="row mt-4">
                  <div class="col-md-12">
                      <div class="form-group resposividade-botao">
                          <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                          <input [(ngModel)]='categoria.nome' type="text" class="form-control" id="nome" placeholder="Digite a nome da categoria">
                          <!-- CHAMA A FUNCAO CRIADA cadastrar() DENTRO DA CLASSE, QUE TEM COMO FUNCAO, CADASTRAR O OBJETO TEMA -->
                          <button type="button" class="btn btn-warning" (click)='postCategoria()'> Cadastrar</button>
                      </div>
                  </div>
              </div>
          </div>
  
          <!-- LISTA DE TEMAS -->
          <div class="col-md-7 texto d-flex justify-content-center flex-column">
            <div class="row mt-3 d-flex justify-content-center">
                <div class="col-md-12">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Descrição</th>
                          <!--<th scope="col">Edição</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <!-- CRIA UM LOOP PARA IMPRIMIR NA TELA TODOS OS DADOS CONTIDOS DENTRO DA listaTema ==> Resposavel por armazenar os dados vindos da tabela Tema -->
                        <tr *ngFor='let item of cate'>
                          <td>{{item.nome}}</td>
                        <td>
                            <a class="btn botao-editar" data-bs-toggle="modal" data-bs-target="#putCategoria" (click)='findByIdCategoria(item.id)' >Editar</a>
                            <a  type="button" class="btn btn-danger" (click)='deleteCategoria(item.id)' >Excluir</a>
                          </td> 
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <!-- ######################### CAMPOS DE CATEGORIA - PUT ######################### -->
  <!-- MODAL DE CATEGORIA / PUT -->
  <div class="modal fade texto" id="putCategoria" tabindex="-1" role="dialog" aria-labelledby="modalPutCategoria" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title texto-bold" id="nomeCategoria">Atualizar Categoria</h2>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="form-group texto">
                  <label for="putNome">Nome</label>
                  <input [(ngModel)]='categoria.nome' type="text" name="putNome" class="form-control texto-input" id="putNome" placeholder="Nome da Categoria">
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="botao texto" id="publicacao" (click)='putCategoria()' data-bs-dismiss="modal" aria-label="Close" >Atualizar</button>
          </div>
        </div>
    </div>
  </div>