<title>Produtos disponíveis</title>
<link href="https://fonts.googleapis.com/css?family=Niramit&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">

<link rel="stylesheet" href="produtos-beneficiario.component.css">

<section class="titulos">
  <ul>
    <li><button type="button" class="seta-voltar"></button>
    </li>
    <li class="chamada-produtos"><b>PRODUTOS DISPONÍVEIS</b></li>
    <li class="acesse">Acesse por categoria</li>
  </ul>
</section>

<section class="categorias">
  <table class="colunas">
    <thead>
      <tr>
        <th>Nome Produto</th>
        <th>Estoque</th>
        <th>Categoria</th>
        <th>imagem</th>
        <th class = "quantidade"> quantidade maxima por beneficiario: 4 </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let produto of produtos">
        <td>{{produto.nome}}</td>
        <td>{{produto.estoque}}</td>
        <td>{{produto.categoria.nome}}</td>
        <td><img src="{{produto.img}}" width="200px"/></td>
        <td><input type='number' value='' min='0' max='4'/></td>
        
      </tr>
    </tbody>

  </table>

</section>

<!--<div  class="caminho">
  <ul>
    <li>Produtos</li>
    <li><button class="seta"></button></li>
    <li>Alimentos</li>
  </ul>
</div>-->

