<link href="https://fonts.googleapis.com/css?family=Niramit&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../../assets/imagens/logo_projetocolmeia.png" type="imgage/x-con">

<link rel="stylesheet" href="confirmacao-agendamento.component.css">



<div class="caixa">
    <span class="usuario">Você agendou para</span>
</div>


<div Class="cadastre">

    <h2>DATA</h2>
    <p>17/08/2022</p>
    <h2>HORÁRIO</h2>
    <p>10:00</p>

</div>




<div class="sair">
    <div class="botão-sair">
        <button type="button" class="sair"><a href="../home/home.component.html"><img src="../../../assets/imagens/bi_x-circle.svg" width="30px" height="30px" /></a> </button>
    </div>

</div>

<input type="button" class="botao-proximo" onclick="alert('Agendamento realizado com sucesso!')" value="CONFIRMAR">
