.titulos {
    width: 346px;
    height: 45px;
    position: absolute;
    left: 80px;
    top: 200px;
    list-style: none;
}

.titulos ul li {
    list-style: none;
}

.seta-voltar {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 50px;
    background-image: url(../../../assets/imagens/bot_o_voltar_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    background-color: white;
    border-color: white;
}

.chamada-produtos {
    color: rgba(78.00000295042992, 49.00000087916851, 35.00000171363354, 1);
    width: 306px;
    height: 45px;
    position: absolute;
    left: 64px;
    top: 52px;
    font-family: Hind Siliguri;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    list-style: none;
}

.acesse {
    color: rgba(78.00000295042992, 49.00000087916851, 35.00000171363354, 1);
    width: 309px;
    height: 40px;
    position: absolute;
    left: 64px;
    top: 100px;
    font-family: Niramit;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
    list-style: none;
}

.produtos {
    display: inline-block;
    position: relative;
    left: 320px
}

.produtos1 {
    border-radius: 5px;
    align-items: center;
    margin-top: 400px;

}

.produtos1 div img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    align-items: center;
    display: inline-block;
    padding-left: 40px;


}

.legenda {
    align-items: center;
    display: inline-block;
    color: rgba(78.00000295042992, 49.00000087916851, 35.00000171363354, 1);
    font-family: Niramit;
    font-size: 16px;
    display: inline-block;
    list-style: none;
    position: relative;
    left: 320px;

}

.legenda input {
    width: 40px;
    margin-left: 2px;

}

.legenda1 ul li p {
    top: 200px;
    display: inline-block;

}

.legendas1 ul li {
    list-style: none;
    display: inline-block;
    padding-right: 40px;


}

.botao {
    width: 366px;
    height: 212px;
    position: absolute;
    align-items: center;
    top: 90px;
    text-align: center;

}

.botao-proximo {
    color: rgba(78.00000295042992, 49.00000087916851, 35.00000171363354, 1);
    width: 210px;
    height: 35px;
    position: absolute;
    left: 600px;
    top: 550px;
    font-family: Hind Siliguri;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    box-shadow: 8px 8px 30px rgba(255, 250, 250);
    background-color: rgba(232, 216, 183, 0.79);
    border: 1px solid rgba(253.0000001192093, 176.00000470876694, 24.000000469386578, 1);
    border-radius: 12px;
}